/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
$fontPrimary: "Roboto", sans-serif;
/* Fonts */

/* Colors */
$bgBody: #f0f0f0;
$bgPrimary: #1382dd;
$bgPositive: #04961d;
$bgError: #f72626;
/* Colors */
