$colorPink: #e95678;
$colorPinkHover: #c23455;

$colorBlue: #25b0bc;
$colorBlueHover: #166b72;

@mixin button($class, $color, $colorHover) {
  .button.#{$class} {
    background: $color;
  }
  .button.#{$class}:hover {
    background: $colorHover;
  }
  .button.#{$class}:active {
    background: $color;
  }
}

.button {
  outline: none;
  padding: 8px;
  font-size: 15px;
  border: 0px solid;
  border-radius: 5px;
  color: white;
}
.button[disabled] {
  opacity: 0.3;
}

@include button('pink', $colorPink, $colorPinkHover);
@include button('blue', $colorBlue, $colorBlueHover);
