$duration: 0.4s;
$stroke: #42d7e4;
$colorText: #076b74;
$colorTextChecked: #a5e7ec;

.todo {
  display: block;
  position: relative;
  padding: 1em 1em 1em 16%;
  margin: 0 auto;
  cursor: pointer;
  border-bottom: solid 1px #ddd;
  &:last-child {
    border-bottom: none;
  }
}

.todo.new-item {
  opacity: 0;
  transform: translateX(100px);
  animation: fadeIn 0.3s linear forwards;
}

.todo__state {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.todo__text {
  display: flex;
  align-items: center;
  color: $colorText;
  text-align: left;
  transition: all $duration/2 linear $duration/2;
}

.todo__icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: 230px;
  width: 100%;
  height: auto;
  margin: auto;

  fill: none;
  stroke: $stroke;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.todo__line,
.todo__box,
.todo__check {
  transition: stroke-dashoffset $duration cubic-bezier(0.9, 0, 0.5, 1);
}

.todo__circle {
  stroke: $stroke;
  stroke-dasharray: 1 6;
  stroke-width: 0;

  transform-origin: 13.5px 12.5px;
  transform: scale(0.4) rotate(0deg);
  animation: none $duration linear; //cubic-bezier(.08,.56,.04,.98);

  @keyframes explode {
    //0% { stroke-width: 0; transform: scale(0.5) rotate(0deg); }
    30% {
      stroke-width: 3;
      stroke-opacity: 1;
      transform: scale(0.8) rotate(40deg);
      //animation-timing-function: cubic-bezier(.89,.01,.95,.51);
    }
    100% {
      stroke-width: 0;
      stroke-opacity: 0;
      transform: scale(1.1) rotate(60deg);
      //animation-timing-function: cubic-bezier(.08,.56,.04,.98);
    }
  }
}

.todo__box {
  stroke-dasharray: 56.1053, 56.1053;
  stroke-dashoffset: 0;
  transition-delay: $duration * 0.2;
}
.todo__check {
  stroke: $stroke;
  stroke-dasharray: 9.8995, 9.8995;
  stroke-dashoffset: 9.8995;
  transition-duration: $duration * 0.4;
}
.todo__line {
  stroke-dasharray: 168, 1684;
  stroke-dashoffset: 168;
}
.todo__circle {
  animation-delay: $duration * 0.7;
  animation-duration: $duration * 0.7;
}

.todo__state:checked {
  ~ .todo__text > :not(button) {
    transition-delay: 0s;
    color: $colorTextChecked;
    opacity: 0.6;
  }
  ~ .todo__icon .todo__box {
    stroke-dashoffset: 56.1053;
    transition-delay: 0s;
  }
  ~ .todo__icon .todo__line {
    stroke-dashoffset: -8;
  }
  ~ .todo__icon .todo__check {
    stroke-dashoffset: 0;
    transition-delay: $duration * 0.6;
  }
  ~ .todo__icon .todo__circle {
    animation-name: explode;
  }
}

.btn-delete {
  position: relative;
  align-content: flex-end;
  margin-left: auto;
  background: transparent;
  border: none;
  outline: none;
  color: #e95678;
  cursor: pointer;
}

@keyframes fadeIn {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
